
@import "~bootstrap/scss/bootstrap";

#main {
	background-image: url("../images/logo.png"); 
	background-position: center; background-repeat: no-repeat;
}

#welcome_div {
	 background: rgba(0, 0, 0, 0.75)
}

.summon {
	background-color: red;
	min-height:50px;
}

.support {
	background-color: blue;
	min-height:50px;
}

.magic {
	background-color: green;
	min-height:50px;
}

.independent {
	background-color: purple;
	min-height:50px;
}

.command {
	background-color: yellow;
	min-height:50px;
}

#materia_results {
	color: black;
}