<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
       		<link href="{{ asset('/build/app.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% include 'partials/nav.html.twig' %}
         <div class="container-fluid" id="main" style="min-height:500px;">
            {% block body %}
            {% endblock %}
        </div>
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
			<script src="/build/runtime.js"></script>
            <script src="/build/app.js"></script>
        {% endblock %}
    </body>
</html>
