{% extends 'base.html.twig' %}
{% block body %}
    <div class="container text-center" id="welcome_div">
    	<div class="col-md-6 offset-md-3">
	        <div class=" ">
	            <div class="row mt-5">
	                <h1 class="col-12 text-white">Welcome to the Materia Finder!</h1>
	            </div>
	            <div class="row">
	                <h3 class="col-12 text-white">Use this feature to locate any piece of materia in the Final Fantasy 7 universe!</h3>
	            </div>
	        </div>
	    </div>
            <div class="row">
               
                <div class="col-md-6 offset-md-3  text-white">
                    {{ form(form) }}
                </div>
            </div>
            {% if materia != false %}
               <div class="col-md-8 offset-md-2">
               		{% include "materia_finder/partials/results.html.twig" %}
               	</div>
            {% endif %}
        </div>
    </div>
{% endblock %}
